@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;900&display=swap');

/* 
thin = 100
light = 300
reguler = 400
semibold = 600
bold = 700
black = 900
*/

/* font-family: 'Poppins', sans-serif; */

body {
    font-family: 'Poppins', sans-serif;
}

.navbar-nav .nav-item .nav-link {
    color: #2F3161;
    font-weight: 600;
}

.btn {
    border-radius: 30px;
    padding: 10px 15px;
}

.btn-light {
    border-radius: 30px;
    padding: 10px 15px;
    box-shadow: 0 0 20px 0 #ffffff;
}

.btn-light:hover {
    box-shadow: 0 0 20px 0 #EBC803;
    background-color: #2F3161;
    color: white;
}

.btn-blue {
    color: white;
    background-image: linear-gradient(#66C2ED, #2F3161);
    border: none;
}

footer {
    background-color: #2F3161;
}

footer .bem-footer h3 {
    color: white;
    font-weight: 600;
}

footer .row .halaman {
    line-height: 40px;
}

footer .row .kabinet {
    line-height: 40px;
}

footer .halaman h4 {
    margin: 5px 0;
}

footer .kabinet h4 {
    margin: 5px 0;
}

footer a {
    color: white;
    opacity: 60%;
    text-decoration: none;
    font-weight: 300;
}

footer a:hover {
    color: #EBC803;
    opacity: 80%;
    text-decoration: none;
    font-weight: 300;
}

footer .lokasi iframe {
    width: 200;
    height: 200;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #A17A06;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #EBC803;
}

.title {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 50px;
    width: fit-content;
    padding: 5px 40px;
    border: 2px solid white;
    margin: auto;
    /* margin-top: 250px; */
    font-weight: 600;
    color: #2F3161;
}